*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bd{
    background-color: #171c28;
    color: white;
}
#myname{
    color: gray;
    text-decoration: none; 
    font-weight: bolder;
    font-size: 1.5em;
}
.navbar {
    padding: 20px;
    margin-top: 1%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #171c28;
}
.container-fluid a span{
    color: white;
}
.container-fluid a span:hover{
    color: blue;
}
.nav-link{
    font-size: 1.5em;
    font-weight: bold;
    
}
.navbar-nav li a:hover{
    border-radius: 4px;
    background-color: rgb(92, 87, 249);
}
.navbar-nav li{
    padding: 0 20px ;
}
#btn{
    /* color: white; */
   
}